@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@font-face {
    font-family: NorseBold;
    src: url("./media/Norse-Bold.otf") format("opentype");
}

// * {
//     border: 1px solid red;
// }

html {
    height: 100vh;
    width: 100vw;
}

body {
    margin: 0;
    background-color: #F9FAFB;
    font-family: 'Roboto', sans-serif;
    height: inherit;
    width: inherit;
    overflow: hidden;
}

.content {
    display: flex;
    flex-direction: row;

    height: inherit;
    width: inherit;
}

// LHS
.lhs {
    height: 100vh;
    width: 30vw;

    background-image: url('./media/leaves.avif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    .logo-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1vw;

        padding: 0;
        position: relative;
        top: 20vh;
        width: inherit;
        background-color: rgba(0, 0, 0, 0.5);
    }

    img {
        height: 11vh;
        width: auto;

        padding: 1vh 0;
    }

    .logo-text {
        font-family: NorseBold, sans-serif;
        font-size: 7.5vh;
        color: white;
        margin: 0;
    }

    .credit {
        color: white;
        text-align: center;
        font-size: 0.7em;

        position: relative;
        top: 80vh;

        a {
            color: white;
        }
    }

}

// RHS
.rhs {
    width: 70vw;
    font-family: 'Roboto', sans-serif;

    .rhs-text {
        font-weight: bold;
        margin-top: 14vh;
        margin-bottom: 6vh;
        padding-right: 10vw;
    }

    a {
        text-decoration: none;
        color:#596D48;
        font-weight: bold;
    }

}

.rhs form {
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    padding-bottom: 3vh;

    h3 {
        padding-top: 2vh;
    }

    label {
        display: flex;
        flex-direction: column;

        font-size: 0.6em;
        font-weight: bold;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        color:#36454F;

    }

    input {
        width: 200px;;
    }

    .form-container {
        
        display: grid;
        grid-template-columns: repeat(2, 25vw);
        grid-gap: 2vh 3vw;
        justify-items: start;
    }

}

.btn {

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;

    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    border-radius: 8px;
    background-color: #596D48;
    color: white;
    font-weight: 500;

    margin-left: 3vw;
    margin-top: 2vh;
    width: 20vw;
    height: 6vh;
    text-align: center;

    &:hover {
        background-color: #333f2a;
        font-weight: 600;
    }
}

.pad-left {
    padding-left: 3vw;
}

// Collapse the view
@media only screen and (max-width: 740px) {

    body {
        overflow: auto;
    }

    .content {
        flex-direction: column;
    }

    .lhs {
        width: 100vw;
        height: 20vh;
        background-size: cover;
        // background-repeat: repeat;

        .logo-container {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1vw;
    
            padding: 0;
            width: inherit;
            
            top: 4vh;

            background-color: transparent;
        }

        img {
            height: 10vh;
            width: auto;
    
            padding: 1vh 0;
        }
    
        .logo-text {
            font-family: NorseBold, sans-serif;
            font-size: 8vh;
            color: white;
            margin: 0;
        }

        .credit {
            display: none;
        }
    }

    .rhs {
        width: 100vw;
        height: 70vh;

        .rhs-text {
            font-weight: bold;
            font-size: 2vw;
            padding: 0;
            margin: 0;
            text-align: center;
        }
    
        a {
            text-decoration: none;
            color:#596D48;
            font-weight: bold;
        }
    }

    .rhs form {
        background-color: #ffffff;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
        padding-bottom: 3vh;
    
        h3 {
            padding-top: 0;
            font-size: 3.5vw;
            text-align: center;
        }
    
        input {
            width: 20vw;
        }
    
        .form-container {
            
            display: grid;
            grid-template-columns: repeat(2, 50%);
            grid-gap: 2vh 0;

            text-align: center;
            justify-items: center;


        }

        label {
            display: flex;
            flex-direction: column;
    
            font-size: 1.8vw;
            font-weight: bold;
            letter-spacing: 0.2vw;
            text-transform: uppercase;
            color:#36454F;

        }
    
    }

    .btn {
        display: relative;
        margin-left: auto;
        margin-right: auto;

        font-size: 3vw;
        width: 40vw;
        height: 6vh;
    }
    
    .already-account {
        text-align: center;
        font-size: 2vw;
    }

    .pad-left {
        padding-left: 0;
        margin-left: auto;
        margin-right: auto;
    }
}

// // LHS
// .lhs {
//     height: 100vh;
//     width: 30vw;

//     background-image: url('./media/leaves.avif');
//     background-size: cover;
//     background-repeat: no-repeat;
//     background-position: center;

//     .logo-container {
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         gap: 1vw;

//         padding: 0;
//         position: relative;
//         top: 20vh;
//         width: inherit;
//         background-color: rgba(0, 0, 0, 0.5);
//     }

//     img {
//         height: 11vh;
//         width: auto;

//         padding: 1vh 0;
//     }

//     .logo-text {
//         font-family: NorseBold, sans-serif;
//         font-size: 7.5vh;
//         color: white;
//         margin: 0;
//     }

//     .credit {
//         color: white;
//         text-align: center;
//         font-size: 0.7em;

//         position: relative;
//         top: 80vh;

//         a {
//             color: white;
//         }
//     }
// }

