@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@font-face {
    font-family: NorseBold;
    src: url("./media/Norse-Bold.otf") format("opentype");
}

/* * {
    border: 1px solid red;
} */

body {
    margin: 0;
    background-color: #FAF9F6;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    overflow: hidden;

}

.page {
    height: inherit;
    display: flex;

}


/* LHS */

.left-side {
    height: inherit;
    width: 30%;
    flex: 0 0 auto;
}

.left-side .bg-img {
    margin: 0;
    padding: 0;    
    height: 100%;

    position: absolute;
    width: 30%;
    object-fit: cover;
}

.logo-container {
    background-color: rgba(0,0,0,0.4);
    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: center;


    position: relative;
    top: 20%;

    height: 10%;
    width: 100%;
    border: 1px solid gold;
}

.left-side .logo-img {
    height: 100%;
    width: 10vw;
    object-fit: fit;
} 

.left-side .logo-text {
    height: 100%;
    color: white;
    font-family: NorseBold;

    font-size: 6vw;
    text-align: center;

    display: flex;
    align-items: center;

}
/* RHS */
.right-side {
    height:inherit;
    width: 70%;
    flex: 0 0 auto;
    padding-top: 8%;

    font-family: 'Roboto', sans-serif;
}

.right-side .info {
    font-weight: bold;
    padding-left: 25px;
}

.form-section {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 35%;
}

.form-section h3 {
    padding-left: 25px;
}

.form-section form {
    padding-left: 25px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
}

.form-section form label {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;

}

.form-section form input {
    width: 150px;
}

/* BELOW FORM */

.below-form {
    margin-top: 30px;
}
.btn {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    background-color: #596D48;
    color: white;
    font-weight: 500;

    border-radius: 8px;
    margin-left: 25px;
    padding: 2% 10%;

    width: 100px;
    height: 70px;
}

.already-account {
    margin-top: 40px;
    padding-left: 25px;
}